$color-primary: rgba(255, 255, 255, 0.425);
$color-primary-light: rgba(255, 255, 255, 0.164);
$color-secondary: rgb(0, 140, 255);
$color-tertiary: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Adjust the default font size in body to rem to be more responsive */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Poppins;
  height: 100vh;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url('/assets/background/backround.jpg');
  background-size: cover; /* adjust as needed */
  background-position: center; /* adjust as needed */

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // add a semi-transparent black overlay
    background-color: rgba(255, 255, 255, 0.336);

    //  apply filters to the overlay
    filter: blur(3px);
  }
}

header {
  font-size: 4rem;
}

main {
  position: relative;
  height: 60rem;
  width: 120rem;

  display: flex;
  justify-content: space-between;
}
