$color-primary: rgba(255, 255, 255, 0.048);
$color-secondary: rgb(0, 140, 255);
$color-tertiary: black;
$gradient-primary: linear-gradient(135deg, #4e515275 0%, #67608a6c 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Adjust the default font size in body to rem to be more responsive */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Poppins;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-image: $gradient-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  font-size: 4rem;
}

main {
  position: relative;
  height: 60rem;
  width: 120rem;

  display: flex;
  justify-content: space-between;
}

.flag__intro {
  position: absolute;
  top: -1rem;
  left: 20rem;
  width: 10rem;
  height: 12rem;
  /* left: 160rem; */
  /* left: 50rem; */
  /* transform: translate(50%, 50%); */
}
