.console {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 60rem;
  width: 40rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 23rem 10rem 0 10rem;
  color: $color-tertiary;
  background-color: rgb(227, 226, 230);
  border-radius: 10px;
  border: $border;
  z-index: 100;

  overflow: hidden;

  &__flag {
    position: absolute;
    top: 1%;
    left: 51%;
    opacity: 0;
    z-index: -10;
  }

  &__label {
    position: relative;
    margin-top: 2rem;
    left: -35rem;
    font-size: 2rem;
  }

  &__select {
    position: relative;
    left: -35rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__game-title {
    position: absolute;
    top: 9rem;
    left: -30rem;
    transform: translate(-50%, -50%);

    display: flex;
    overflow: visible;
    z-index: 1000;
  }

  &__radio-box {
    display: flex;
    justify-content: center;
    width: 4rem;
    color: $color-tertiary;
  }

  &__radio-box:checked {
    opacity: 1;
  }

  &__disclaimer {
    position: absolute;
    left: -25rem;
    bottom: 0%;

    font-size: 1rem;
    color: $color-secondary;

    &-text {
      opacity: 0.7;
    }

    & i {
      font-size: 1.5rem;
      color: $color-secondary;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}
